@import "bourbon";
@import 'neat';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font: {
    size: 16px;
    family: 'Roboto', sans-serif;
  }
  margin: 0;
  padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	@include grid-container();
}
h1, h2, h3, h4, h5, h6, td {
  font-weight: normal;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

input {
    margin: 5px 0 15px;
    padding: 5px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    font-size: 14px;
    &:focus {
        box-shadow: 0 0 2px #63D1F4;
    }
}

input {
    display: block;
}

// top nav
nav {
    background-color: #000;
    height: 50px;
}

nav li {
    display: inline-block;
    width: 10%;
    padding: 15px;
    & a {
        text-decoration: none;
        color: #fff;
        padding: 15px;
        &:hover {
            background-color: #666;
        }
    }
}

.btn {
    min-width: 150px;
    min-height: 40px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .2s ease;
    &:hover {
        background-color: #666;
        color: #fff;
    }
}

table {
    width: 100%;
    font-size: 14px;
    & tr {
        display: table;
        width: 100%;
        padding: 10px 0;
    }
    & tbody tr {
        border-top: 1px solid #a3a3a3;
    }
}

th {
    text-align: left;
}

td {
    word-wrap: break-word;
}

.td- {
    &1 {
        @include grid-column(1);
    }
    &2 {
        @include grid-column(2);
    }
    &3 {
        @include grid-column(3);
    }
}